-cc=vbccm68k  -warn=-1 -dontwarn=307 -dontwarn=167 -dontwarn=65 -hunkdebug -sd %s -o= %s %s -O=%ld -I$VBCC/NDK_1.3/Includes1.3/include_h -I$VBCC/targets/m68k-kick13/include
-ccv=vbccm68k -warn=-1 -dontwarn=307 -dontwarn=167 -dontwarn=65 -hunkdebug -sd %s -o= %s %s -O=%ld -I$VBCC/NDK_1.3/Includes1.3/include_h -I$VBCC/targets/m68k-kick13/include
-as=vasmm68k_mot  -Fhunk -nowarn=62 %s -o %s
-asv=vasmm68k_mot -Fhunk -nowarn=62 %s -o %s
-rm=rm -f %s
-rmv=rm   %s
-ld=vlink  -bamigahunk -x    -Bstatic -Cvbcc -nostdlib -mrel %s %s -L$VBCC/targets/m68k-amigaos/lib -o %s
-l2=vlink  -bamigahunk -x    -Bstatic -Cvbcc -nostdlib -mrel %s %s -L$VBCC/targets/m68k-amigaos/lib -o %s
-ldv=vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -mrel %s %s -L$VBCC/targets/m68k-amigaos/lib -o %s
-l2v=vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -mrel %s %s -L$VBCC/targets/m68k-amigaos/lib -o %s
-ldnodb=-s -Rshort
-ul=-l%s
-cf=-F%s
-ml=1000
